
<ul class="nav justify-content-center">
    <li class="nav justify-content-left">
        <a class="nav-link" href="#">LOGO FILLER</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span class="fas fa-search" style="padding: 7px"></span>Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span class="fas fa-pencil-alt" style="padding: 7px"></span>Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span class="far fa-star" style="padding: 7px"></span>Log in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span class="far fa-address-card" style="padding: 7px"></span>Account</a>
    </li>
  </ul>