<section id="loginPage">
  <div class="container p-5">
    <div class="row mt-5">
      <div class="col-lg-4 offset-lg-4">
        <app-message></app-message>
        <div class="card bg-light">
          <div class="card-body">
            <h4 class="text-center">Login</h4>
            <hr> 
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label class="form-control-label">Email</label>
                <input type="email" name="email" class="form-control" formControlName="email" [formGroup]="loginForm">
              </div>
              <div class="form-group">
                <label class="form-control-label">Password</label>
                <input type="password" name="password" class="form-control" formControlName="password" [formGroup]="loginForm">
              </div>
              <hr>
              <button type="button" class="btn btn-primary btn-block" [disabled]="!loginForm.valid" (click)="login()">Login</button>
            </form>
          </div>
        </div>
      </div>
     </div>
    </div>
</section>